<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crAdmin.module.car.dao.CarMapper">
	<resultMap id="BaseResultMap" type="com.crAdmin.bean.Car">
		<id column="car_id" property="carId" jdbcType="INTEGER" />
		<result column="car_type" property="carType" jdbcType="VARCHAR" />
		<result column="car_chassis_num" property="carChassisNum"
			jdbcType="VARCHAR" />
		<result column="license_plate_num" property="licensePlateNum"
			jdbcType="VARCHAR" />
		<result column="car_frame_num" property="carFrameNum" jdbcType="VARCHAR" />
		<result column="engine_num" property="engineNum" jdbcType="VARCHAR" />
		<result column="owner_name" property="ownerName" jdbcType="VARCHAR" />
		<result column="owner_sex" property="ownerSex" jdbcType="VARCHAR" />
		<result column="owner_city" property="ownerCity" jdbcType="VARCHAR" />
		<result column="owner_address" property="ownerAddress"
			jdbcType="VARCHAR" />
		<result column="linker" property="linker" jdbcType="VARCHAR" />
		<result column="linker_mobile" property="linkerMobile"
			jdbcType="VARCHAR" />
		<result column="owner_fax" property="ownerFax" jdbcType="VARCHAR" />
		<result column="owner_num" property="ownerNum" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="isdelete" property="isdelete" jdbcType="VARCHAR" />
		<result column="companyId" property="companyId" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id car_id, car_type, car_chassis_num, license_plate_num,
		car_frame_num,
		engine_num,
		owner_name, owner_sex, owner_city,
		owner_address, linker, linker_mobile,
		owner_fax, owner_num,
		create_time, isdelete,companyId
	</sql>

	<!-- 查询汽车列表 -->
	<select id="queryCarList" resultMap="BaseResultMap"
		parameterType="com.crAdmin.bean.Car">
		select id car_id, car_type, car_chassis_num, license_plate_num,
		car_frame_num, engine_num,
		owner_name, owner_sex, owner_city,
		owner_address, linker, linker_mobile,
		owner_fax, owner_num,
		create_time, isdelete,companyId
		from tb_car
		where 1 = 1
		<if test="carId != null">
			and id = #{carId,jdbcType=INTEGER}
		</if>
		<if test="licensePlateNum != null">
			and license_plate_num =
			#{licensePlateNum,jdbcType=VARCHAR}
		</if>
		<if test="companyId != null">
			and companyId = #{companyId,jdbcType=VARCHAR}
		</if>
		<if test="isdelete != null">
			and ifnull(isdelete, '0') = #{isdelete,jdbcType=VARCHAR}
		</if>
		order by create_time desc
	</select>

	<!-- 查询其他汽车列表 -->
	<select id="queryOtherCarList" resultMap="BaseResultMap"
		parameterType="com.crAdmin.bean.Car">
		select id car_id, car_type, car_chassis_num, license_plate_num,
		car_frame_num, engine_num,
		owner_name, owner_sex, owner_city,
		owner_address, linker, linker_mobile,
		owner_fax, owner_num,
		create_time, isdelete,companyId
		from tb_car
		where 1 = 1
		<if test="carId != null">
		   <![CDATA[and id <> #{carId,jdbcType=INTEGER}]]>
		</if>
		<if test="licensePlateNum != null">
			and license_plate_num =
			#{licensePlateNum,jdbcType=VARCHAR}
		</if>
		<if test="companyId != null">
			and companyId = #{companyId,jdbcType=VARCHAR}
		</if>
		<if test="isdelete != null">
			and ifnull(isdelete, '0') = #{isdelete,jdbcType=VARCHAR}
		</if>
		order by create_time desc
	</select>

	<!-- 查询汽车信息 -->
	<select id="queryCarInfo" resultMap="BaseResultMap"
		parameterType="com.crAdmin.bean.Car">
		select id car_id, car_type, car_chassis_num, license_plate_num,
		car_frame_num, engine_num,
		owner_name, owner_sex, owner_city,
		owner_address, linker, linker_mobile,
		owner_fax, owner_num,
		create_time, isdelete,companyId
		from tb_car
		where 1 = 1
		<if test="carId != null">
			and id = #{carId,jdbcType=INTEGER}
		</if>
		<if test="companyId != null">
			and companyId = #{companyId,jdbcType=VARCHAR}
		</if>
		<if test="isdelete != null">
			and ifnull(isdelete, '0') = #{isdelete,jdbcType=VARCHAR}
		</if>
	</select>

	<delete id="deleteByPrimaryKey" parameterType="com.crAdmin.bean.Car">
		delete from tb_car
		where id = #{carId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.crAdmin.bean.Car">
		insert into tb_car (id,
		car_type, car_chassis_num,
		license_plate_num, car_frame_num,
		engine_num,
		warranty_start_miles, owner_name, owner_sex,
		owner_city,
		owner_address, linker,
		linker_mobile, owner_fax, owner_num,
		create_time, isdelete,companyId)
		values (#{carId,jdbcType=INTEGER},
		#{carType,jdbcType=VARCHAR},
		#{carChassisNum,jdbcType=VARCHAR},
		#{licensePlateNum,jdbcType=VARCHAR}, #{carFrameNum,jdbcType=VARCHAR},
		#{engineNum,jdbcType=VARCHAR},
		#{ownerName,jdbcType=VARCHAR},
		#{ownerSex,jdbcType=VARCHAR},
		#{ownerCity,jdbcType=VARCHAR},
		#{ownerAddress,jdbcType=VARCHAR},
		#{linker,jdbcType=VARCHAR},
		#{linkerMobile,jdbcType=VARCHAR}, #{ownerFax,jdbcType=VARCHAR},
		#{ownerNum,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{isdelete,jdbcType=VARCHAR},#{companyId,jdbcType=VARCHAR})
	</insert>

	<!-- 新增汽车信息 -->
	<insert id="addCarInfo" parameterType="com.crAdmin.bean.Car"
		useGeneratedKeys="true" keyColumn="carId">
		insert into tb_car
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="carType != null">
				car_type,
			</if>
			<if test="carChassisNum != null">
				car_chassis_num,
			</if>
			<if test="licensePlateNum != null">
				license_plate_num,
			</if>
			<if test="carFrameNum != null">
				car_frame_num,
			</if>
			<if test="engineNum != null">
				engine_num,
			</if>
			<if test="ownerName != null">
				owner_name,
			</if>
			<if test="ownerSex != null">
				owner_sex,
			</if>
			<if test="ownerCity != null">
				owner_city,
			</if>
			<if test="ownerAddress != null">
				owner_address,
			</if>
			<if test="linker != null">
				linker,
			</if>
			<if test="linkerMobile != null">
				linker_mobile,
			</if>
			<if test="ownerFax != null">
				owner_fax,
			</if>
			<if test="ownerNum != null">
				owner_num,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="isdelete != null">
				isdelete,
			</if>
			<if test="companyId != null">
				companyId,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="carType != null">
				#{carType,jdbcType=VARCHAR},
			</if>
			<if test="carChassisNum != null">
				#{carChassisNum,jdbcType=VARCHAR},
			</if>
			<if test="licensePlateNum != null">
				#{licensePlateNum,jdbcType=VARCHAR},
			</if>
			<if test="carFrameNum != null">
				#{carFrameNum,jdbcType=VARCHAR},
			</if>
			<if test="engineNum != null">
				#{engineNum,jdbcType=VARCHAR},
			</if>
			<if test="ownerName != null">
				#{ownerName,jdbcType=VARCHAR},
			</if>
			<if test="ownerSex != null">
				#{ownerSex,jdbcType=VARCHAR},
			</if>
			<if test="ownerCity != null">
				#{ownerCity,jdbcType=VARCHAR},
			</if>
			<if test="ownerAddress != null">
				#{ownerAddress,jdbcType=VARCHAR},
			</if>
			<if test="linker != null">
				#{linker,jdbcType=VARCHAR},
			</if>
			<if test="linkerMobile != null">
				#{linkerMobile,jdbcType=VARCHAR},
			</if>
			<if test="ownerFax != null">
				#{ownerFax,jdbcType=VARCHAR},
			</if>
			<if test="ownerNum != null">
				#{ownerNum,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isdelete != null">
				#{isdelete,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				#{companyId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<!-- 修改汽车信息 -->
	<update id="updateCarInfo" parameterType="com.crAdmin.bean.Car">
		update tb_car
		<set>
			<if test="carType != null">
				car_type = #{carType,jdbcType=VARCHAR},
			</if>
			<if test="carChassisNum != null">
				car_chassis_num = #{carChassisNum,jdbcType=VARCHAR},
			</if>
			<if test="licensePlateNum != null">
				license_plate_num = #{licensePlateNum,jdbcType=VARCHAR},
			</if>
			<if test="carFrameNum != null">
				car_frame_num = #{carFrameNum,jdbcType=VARCHAR},
			</if>
			<if test="engineNum != null">
				engine_num = #{engineNum,jdbcType=VARCHAR},
			</if>
			<if test="ownerName != null">
				owner_name = #{ownerName,jdbcType=VARCHAR},
			</if>
			<if test="ownerSex != null">
				owner_sex = #{ownerSex,jdbcType=VARCHAR},
			</if>
			<if test="ownerCity != null">
				owner_city = #{ownerCity,jdbcType=VARCHAR},
			</if>
			<if test="ownerAddress != null">
				owner_address = #{ownerAddress,jdbcType=VARCHAR},
			</if>
			<if test="linker != null">
				linker = #{linker,jdbcType=VARCHAR},
			</if>
			<if test="linkerMobile != null">
				linker_mobile = #{linkerMobile,jdbcType=VARCHAR},
			</if>
			<if test="ownerFax != null">
				owner_fax = #{ownerFax,jdbcType=VARCHAR},
			</if>
			<if test="ownerNum != null">
				owner_num = #{ownerNum,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isdelete != null">
				isdelete = #{isdelete,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				companyId = #{companyId,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{carId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.crAdmin.bean.Car">
		update tb_car
		set
		car_type = #{carType,jdbcType=VARCHAR},
		car_chassis_num =
		#{carChassisNum,jdbcType=VARCHAR},
		license_plate_num =
		#{licensePlateNum,jdbcType=VARCHAR},
		car_frame_num =
		#{carFrameNum,jdbcType=VARCHAR},
		engine_num =
		#{engineNum,jdbcType=VARCHAR},
		owner_name =
		#{ownerName,jdbcType=VARCHAR},
		owner_sex =
		#{ownerSex,jdbcType=VARCHAR},
		owner_city =
		#{ownerCity,jdbcType=VARCHAR},
		owner_address =
		#{ownerAddress,jdbcType=VARCHAR},
		linker = #{linker,jdbcType=VARCHAR},
		linker_mobile = #{linkerMobile,jdbcType=VARCHAR},
		owner_fax =
		#{ownerFax,jdbcType=VARCHAR},
		owner_num = #{ownerNum,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		isdelete =
		#{isdelete,jdbcType=VARCHAR}
		<if test="companyId != null">
			companyId = #{companyId,jdbcType=VARCHAR},
		</if>
		where id = #{carId,jdbcType=INTEGER}
	</update>

	<!-- 删除汽车信息 -->
	<update id="delCarInfo" parameterType="com.crAdmin.bean.Car">
		update tb_car
		set isdelete
		= '1'
		where id = #{carId,jdbcType=INTEGER}
	</update>
</mapper>