<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crAdmin.module.statistics.dao.CarUseStockMapper">
	<resultMap id="carUseStock" type="com.crAdmin.bean.vo.OutStockVo">
		<id column="id" property="carId" jdbcType="INTEGER" />
		<result column="car_type" property="carType" jdbcType="VARCHAR" />
		<result column="license_plate_num" property="license_plate_num"
			jdbcType="DECIMAL" />
		<result column="repairCount" property="repairCount" jdbcType="DECIMAL" />
		<result column="cost" property="cost" jdbcType="DECIMAL" />
		<result column="price" property="itemSum" jdbcType="DECIMAL" />
		<result column="work_hours_cost" property="workHourCost"
			jdbcType="DECIMAL" />
	</resultMap>
	<select id="carStockList" resultMap="carUseStock"
		parameterType="com.crAdmin.bean.vo.OutStockVo">
		SELECT t.id,t.car_type,t.license_plate_num,count(t.id) repairCount,
		sum(t.everyCost) cost,sum(t.repair_actual_sum)
		price,sum(t.work_hours_cost) work_hours_cost
		FROM
		(SELECT
		a.id,a.car_type,a.license_plate_num,
		sum(c.item_quantity *
		c.stock_price_income) everyCost,
		sum(c.work_hours_cost)
		work_hours_cost,
		b.repair_actual_sum FROM
		tb_car
		a,tb_repair
		b,tb_repair_item c
		WHERE c.isdelete='0' and a.id = b.car_id
		AND
		c.repair_id=b.id
		<if test="carId != null">
			and a.id = #{carId,jdbcType=INTEGER}
		</if>
		<if test="companyId != null">
			and a.companyId = #{companyId,jdbcType=INTEGER}
		</if>
		<if test="endTime != null">
			and b.repair_time &lt;= #{endTime,jdbcType=TIMESTAMP}
		</if>
		<if test="startTime != null">
			and b.repair_time &gt;= #{startTime,jdbcType=TIMESTAMP}
		</if>
		GROUP BY
		a.id,a.car_type,a.license_plate_num,b.id) t group by t.id;
	</select>

</mapper>