<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crAdmin.module.supplier.dao.SupplierMapper">
	<resultMap id="BaseResultMap" type="com.crAdmin.bean.PersonInfo">
		<id column="per_id" property="perId" jdbcType="INTEGER" />
		<result column="per_num" property="perNum" jdbcType="INTEGER" />
		<result column="per_name" property="perName" jdbcType="VARCHAR" />
		<result column="per_tel" property="perTel" jdbcType="VARCHAR" />
		<result column="per_company_name" property="perCompanyName"
			jdbcType="VARCHAR" />
		<result column="per_city" property="perCity" jdbcType="VARCHAR" />
		<result column="per_address" property="perAddress" jdbcType="VARCHAR" />
		<result column="per_email" property="perEmail" jdbcType="VARCHAR" />
		<result column="else_tel" property="elseTel" jdbcType="VARCHAR" />
		<result column="per_level" property="perLevel" jdbcType="VARCHAR" />
		<result column="per_type" property="perType" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="isdelete" property="isdelete" jdbcType="VARCHAR" />
		<result column="companyId" property="companyId" jdbcType="VARCHAR" />
		<result column="bz" property="bz" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id per_id, per_name, per_tel,per_city,
		per_company_name,per_address,per_email,
		else_tel,per_level,per_type,
		create_time,update_time, isdelete,companyId,bz
	</sql>

	<!-- 查询供应商列表 -->
	<select id="querySupplierList" resultMap="BaseResultMap"
		parameterType="com.crAdmin.bean.PersonInfo">
		select id per_id, per_name, per_tel,per_num,per_city,
		per_company_name,per_address,per_email,
		else_tel,per_level,per_type,
		create_time,update_time, isdelete,companyId,bz
		from tb_person_info
		where 1 = 1
		<if test="perId != null">
			and id = #{perId,jdbcType=INTEGER}
		</if>
		<if test="perName != null">
			and per_name = #{perName,jdbcType=VARCHAR}
		</if>
		<if test="perType != null">
			and per_type = #{perType,jdbcType=VARCHAR}
		</if>
		<if test="companyId != null">
			and companyId = #{companyId,jdbcType=VARCHAR}
		</if>
		<if test="isdelete != null">
			and ifnull(isdelete, '0') = #{isdelete,jdbcType=VARCHAR}
		</if>
		order by create_time desc
	</select>
	<!-- 查询最大供应商编号 -->
	<select id="getNewPerNum" resultType="java.lang.Integer"
		parameterType="java.lang.String">
		select
		max(per_num) per_num
		from tb_person_info where isdelete = 0
		<if test="_parameter != null">
			and companyId = #{_parameter,jdbcType=VARCHAR}
		</if>
	</select>
	<!-- 新增供应商信息 -->
	<insert id="addPerInfo" keyProperty="perId" parameterType="com.crAdmin.bean.PersonInfo"
		useGeneratedKeys="true" keyColumn="perId">
		insert into tb_person_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="perNum != null">
				per_num,
			</if>
			<if test="perName != null">
				per_name,
			</if>
			<if test="perTel != null">
				per_tel,
			</if>
			<if test="perCompanyName != null">
				per_company_name,
			</if>
			<if test="perCity != null">
				per_city,
			</if>
			<if test="perAddress != null">
				per_address,
			</if>
			<if test="perEmail != null">
				per_email,
			</if>
			<if test="elseTel != null">
				else_tel,
			</if>
			<if test="perLevel != null">
				per_level,
			</if>
			<if test="perType != null">
				per_type,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="isdelete != null">
				isdelete,
			</if>
			<if test="companyId != null">
				companyId,
			</if>
			<if test="bz != null">
				bz,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="perNum != null">
				#{perNum,jdbcType=INTEGER},
			</if>
			<if test="perName != null">
				#{perName,jdbcType=VARCHAR},
			</if>
			<if test="perTel != null">
				#{perTel,jdbcType=VARCHAR},
			</if>
			<if test="perCompanyName != null">
				#{perCompanyName,jdbcType=VARCHAR},
			</if>
			<if test="perCity != null">
				#{perCity,jdbcType=VARCHAR},
			</if>
			<if test="perAddress != null">
				#{perAddress,jdbcType=VARCHAR},
			</if>
			<if test="perEmail != null">
				#{perEmail,jdbcType=VARCHAR},
			</if>
			<if test="elseTel != null">
				#{elseTel,jdbcType=VARCHAR},
			</if>
			<if test="perLevel != null">
				#{perLevel,jdbcType=VARCHAR},
			</if>
			<if test="perType != null">
				#{perType,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isdelete != null">
				#{isdelete,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				#{companyId,jdbcType=VARCHAR},
			</if>
			<if test="bz != null">
				#{bz,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="com.crAdmin.bean.PersonInfo">
		update tb_person_info
		<set>
			<if test="perNum != null">
				per_num = #{perNum,jdbcType=INTEGER},
			</if>
			<if test="perName != null">
				per_name = #{perName,jdbcType=VARCHAR},
			</if>
			<if test="perTel != null">
				per_tel = #{perTel,jdbcType=VARCHAR},
			</if>
			<if test="perCompanyName != null">
				per_company_name = #{perCompanyName,jdbcType=VARCHAR},
			</if>
			<if test="perCity != null">
				per_city = #{perCity,jdbcType=VARCHAR},
			</if>
			<if test="perAddress != null">
				per_address = #{perAddress,jdbcType=VARCHAR},
			</if>
			<if test="perEmail != null">
				per_email = #{perEmail,jdbcType=VARCHAR},
			</if>
			<if test="elseTel != null">
				else_tel = #{elseTel,jdbcType=VARCHAR},
			</if>
			<if test="perLevel != null">
				per_level = #{perLevel,jdbcType=VARCHAR},
			</if>
			<if test="perType != null">
				per_type = #{perType,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isdelete != null">
				isdelete = #{isdelete,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				companyId = #{companyId,jdbcType=VARCHAR},
			</if>
			<if test="bz != null">
				bz = #{bz,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{perId,jdbcType=INTEGER}
	</update>

	<delete id="delete" parameterType="java.lang.Integer">
		update tb_person_info
		set
		isdelete = '1'
		where id = #{perId,jdbcType=INTEGER}
	</delete>
</mapper>