<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crAdmin.module.statistics.dao.StatisticsMapper">
	<resultMap id="BaseResultMap" type="com.crAdmin.bean.Statistics">
		<id column="id" property="Id" jdbcType="INTEGER" />
		<result column="repairSum" property="repairSum" jdbcType="INTEGER" />
		<result column="repairSctualSum" property="repairSctualSum"
			jdbcType="INTEGER" />
		<result column="datatime" property="datatime" jdbcType="VARCHAR" />
		<result column="incoming" property="incoming" jdbcType="INTEGER" />
		<result column="outsum" property="outsum" jdbcType="INTEGER" />
		<result column="companyId" property="companyId" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id car_id, car_type, car_chassis_num, license_plate_num,
		car_frame_num,
		engine_num,
		owner_name, owner_sex, owner_city,
		owner_address, linker, linker_mobile,
		owner_fax, owner_num,
		create_time, isdelete,companyId
	</sql>

	<!-- 查询全部日期收入金额 -->
	<select id="queryMoney" resultMap="BaseResultMap" parameterType="com.crAdmin.bean.Repair">
		SELECT DATE_FORMAT(a.repair_time, '%Y%m') datatime,
		SUM(a.repair_sum)
		repairSum, sum(repair_actual_sum) repairSctualSum
		FROM ( SELECT * FROM
		tb_repair WHERE isdelete = '0' and companyId=
		#{companyId,jdbcType=VARCHAR}) a where 1=1
		<if test="endTime != null">
			and repair_time &lt;= #{endTime,jdbcType=VARCHAR}
		</if>
		<if test="startTime != null">
			and repair_time &gt;= #{startTime,jdbcType=VARCHAR}
		</if>

		GROUP BY datatime
		ORDER BY
		datatime DESC
	</select>
	<!--按日期查询收入金额 -->
	<select id="queryMoneyByDate" resultMap="BaseResultMap"
		parameterType="com.crAdmin.bean.Repair">
		SELECT DATE_FORMAT(a.repair_time, '%Y%m%d') datatime,
		SUM(a.repair_sum)
		repairSum, sum(repair_actual_sum) repairSctualSum
		FROM ( SELECT * FROM
		tb_repair WHERE isdelete = '0' and companyId=
		#{companyId,jdbcType=VARCHAR}) a where 1=1
		<if test="endTime != null">
			and repair_time &lt;= #{endTime,jdbcType=VARCHAR}
		</if>
		<if test="startTime != null">
			and repair_time &gt;= #{startTime,jdbcType=VARCHAR}
		</if>
		GROUP BY datatime
		ORDER BY datatime DESC
	</select>

	<!--按年查询收入金额 -->
	<select id="queryMoneyByYear" resultMap="BaseResultMap"
		parameterType="com.crAdmin.bean.Repair">
		SELECT DATE_FORMAT(a.repair_time, '%Y') datatime,
		SUM(a.repair_sum)
		repairSum, sum(repair_actual_sum) repairSctualSum
		FROM ( SELECT * FROM
		tb_repair WHERE isdelete = '0' and companyId=
		#{companyId,jdbcType=VARCHAR}) a where 1=1
		<if test="endTime != null">
			and repair_time &lt;= #{endTime,jdbcType=VARCHAR}
		</if>
		<if test="startTime != null">
			and repair_time &gt;= #{startTime,jdbcType=VARCHAR}
		</if>
		GROUP BY datatime
		ORDER BY datatime DESC
	</select>


	<!--查询库存进销价金额 -->
	<select id="queryStockInOutSumPrice" resultMap="BaseResultMap"
		parameterType="com.crAdmin.bean.Repair">
		SELECT sum(b.stock_price_income * b.item_quantity) incoming,
		sum(b.item_price * b.item_quantity) outsum FROM tb_repair
		a,tb_repair_item b WHERE a.id = b.repair_id
		and a.isdelete = '0' and
		b.isdelete = '0' and companyId= #{companyId,jdbcType=VARCHAR}
		<if test="endTime != null">
			and repair_time &lt;= #{endTime,jdbcType=VARCHAR}
		</if>
		<if test="startTime != null">
			and repair_time &gt;= #{startTime,jdbcType=VARCHAR}
		</if>
	</select>
	<!--按月查询收入金额 -->
	<select id="queryMoneyByMonth" resultMap="BaseResultMap"
		parameterType="String">
		SELECT DATE_FORMAT(a.repair_time, '%Y%m%d') datatime,
		SUM(a.repair_sum)
		repairSum, sum(repair_actual_sum) repairSctualSum
		FROM ( SELECT * FROM
		tb_repair WHERE isdelete = '0'
		<if test="_parameter != null">
			and DATE_FORMAT(repair_time,'%Y%m') like
			#{month,jdbcType=VARCHAR}
		</if>
		and companyId=#{companyId}
		) a GROUP BY
		datatime ORDER BY datatime
		DESC
	</select>


</mapper>